<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@if (User.Identity.IsAuthenticated)
{
   var username = User.Identity.Name ?? User.FindFirst("preferred_username").Value;

    <ul >

        <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="SignOut" class="btn btn-danger">Sign Out</a></li>
        <li class="nav-fill">Username:@username</li>
        
    </ul>
}
else
{


   
                                <ul class="class="nav-item"">
                                    <li><a asp-area="" asp-controller="Account" asp-action="Signin" class="btn btn-primary">Sign in</a></li>
                                </ul>
                       
}
